---
http_interactions:
  - request:
      method: get
      uri: http://api.ipstack.com/google.com?access_key=1234567
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; Charset=UTF-8
        X-Apilayer-Transaction-Id:
          - a14843ef-d164-4348-acc7-4eeb892a7cc8
        X-Request-Time:
          - "0.029"
      body:
        encoding: ASCII-8BIT
        string:
          '{"ip":"2607:f8b0:4005:808::200e","type":"ipv6","continent_code":"NA","continent_name":"North
          America","country_code":"US","country_name":"United States","region_code":"CA","region_name":"California","city":"Mountain
          View","zip":"94043","latitude":37.38801956176758,"longitude":-122.07431030273438,"location":{"geoname_id":5375480,"capital":"Washington
          D.C.","languages":[{"code":"en","name":"English","native":"English"}],"country_flag":"http:\/\/assets.ipstack.com\/flags\/us.svg","country_flag_emoji":"\ud83c\uddfa\ud83c\uddf8","country_flag_emoji_unicode":"U+1F1FA
          U+1F1F8","calling_code":"1","is_eu":false}}'
    recorded_at: Sun, 22 Mar 2020 00:11:05 GMT
recorded_with: VCR 5.1.0
