---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/google.com?access_key=some-invalid-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - fa88af0f-4261-4f64-87ec-fa2991b7e69c
      X-Request-Time:
      - '0.026'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":{"code":101,"type":"invalid_access_key","info":"You
        have not supplied a valid API Access Key. [Technical Support: support@apilayer.com]"}}'
  recorded_at: Sun, 22 Mar 2020 00:17:21 GMT
recorded_with: VCR 5.1.0
